.container-about {
    display: grid;
    width: 100%;
    height: 957px;

    grid-area: about;
    
    grid-template-areas:
        "left    header right"
        "avatar  descr  skills"
        "avatar  descr  skills"
        "avatar  descr  skills";
    
    @media (max-width: 1024px) {
        padding-left: 15vw;
        height: auto;
        width: auto;
        grid-template-areas:
        "left header right"
        "left avatar right"
        "left descr  right"
        "left skills right";
    }

    .header-about {
        @media (max-width: 1024px) {
            margin-left: -12vw;
            text-align: center;
        }

        grid-area: header;
        font-size: 48px;
        height: 50px;
        text-align: center;
    }

    .skills-about {
        grid-area: skills;
        @media (max-width: 1024px) {
            position: relative;
        }
    }

    .avatar-about {
        @media (max-width: 1024px) {
            position: relative;
            margin-top: 3%;
            margin-bottom: 3%;
            margin-left: 23%;
            right: 3%;
        }
        margin-left: 10vw;
        grid-area: avatar;
        border-radius: 100%;
        width: 256px;
        height: 256px;
    }

    .person-about {
        @media (max-width: 1024px) {
            position: relative;
            left: 15%;
            margin-bottom: 3%;
        }
        grid-area: descr;
        font-size: 32px;
        width: 350px;
    }
}