@mixin bottom {
    position: absolute;
    right: 0;
    left: 0;
}

.container-project_item {
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    width: 350px;
    height: 500px;
    position: relative;
    &:hover {
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
    }
    .card_info {
        img {
            width: 350px;
            height: 400px;
            object-position: top;
            object-fit: cover;
        }
    }
    .card_text {
        background-color: #161B22;
        display: block;
        align-items: center;
        padding: 20px;
        @include bottom();
        bottom: 0;

        a {
            text-decoration: none;
        }

        h2 {
            color: #ffffff;
            font-size: 1.2rem;
            text-align: center;
            width: auto;
            &:hover {
                color: #EEEEEE;
            }
        }
        p {
            color: #cecece;
            font-size: 0.8rem;
            text-align: center;
        }
    }
}
