version: '3.8'

services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: .docker/frontend/Dockerfile

    volumes:
      - ./app:/app
      - /app/node_modules
    expose:
      - "3000"
    ports:
      - "3000:3000"

    environment:
      - CHOKIDAR_USEPOLLING=true

  nginx:
    image: nginx:alpine
    container_name: nginx_site
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ./.docker/nginx/conf.d/app.conf:/etc/nginx/conf.d/default.conf
      - /etc/ssl/listentotheconscience.ru.crt:/etc/ssl/listentotheconscience.ru.crt
      - /etc/ssl/listentotheconscience.ru.key:/etc/ssl/listentotheconscience.ru.key
      - /etc/ssl/ca.crt:/etc/ssl/ca.crt