version: '3.8'

services:
  frontend:
    container_name: frontend
    build:
      context: ./app
      dockerfile: ../.docker/frontend/Dockerfile

    volumes:
      - ./:./
      - ./node_modules
      - /etc/ssl/listentotheconscience.ru.crt:/etc/ssl/listentotheconscience.ru.crt
      - /etc/ssl/listentotheconscience.ru.key:/etc/ssl/listentotheconscience.ru.key
      - /etc/ssl/ca.crt:/etc/ssl/ca.crt

    ports:
      - "3000:443"

    environment:
      - CHOKIDAR_USEPOLLING=true